note{ 
     color: white; 
     background-color : gray; 
     width: 100%; 
     margin-top: 110px;

} 
 to { 
     color: green; 
     font-size : 40px; 
     background-color : powderblue;
     margin-left: 200px; 
} 
 
from { 
     font-size : 25px; 
     font-weight : bold; 
} 